.container {
  width: 100%;
  max-width: 1024px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#hero {
  background-position: center;
  background-size: cover;
  min-height: 200px;
  height: 30vh;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 1em;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url(https://dynl.mktgcdn.com/p/DU86hIpWXiRq_f-XV09b_-F-0h20CQInXu9uNzwxuX0/700x700.jpg);
}

h1 {
  color: #fff;
  line-height: 1;
  font-size: 50pt;
  font-family: 'Voltage';
  font-size: 10vw;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
  text-shadow: 0 0 25px rgb(0 0 0 / 25%);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.menu-items {
  max-width: 1024px;
  margin: 0 auto;
  column-count: 2;
  column-gap: 20px;
}

.menu-item {
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  page-break-inside: avoid;
  padding: 0 1em 1em;
}

h3 {
  display: block;
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #000;
}

.menu-item-description p {
  margin-bottom: 0;
  line-height: 1.2;
}